{% extends 'base.html.twig' %}

{% block title %}Hello MesChampsController!
{% endblock %}

{% block content %}

	{% if form.valide is defined %}
		{% if form.valide == false %}
			<br></br>
		<div class="row content-panel">
			<div class="alert alert-danger h3 mb-3 font-weight-normal" role="alert">
				<h2 class="centered">{{ form.message }}</h2>
			</div>
		</div>
	{% else %}

		<div class="alert alert-success h3 mb-3 font-weight-normal" role="alert">
			{{ form.message }}
		</div>

	{% endif %}
{% endif %}

     <section id="main-content">
      <section class="wrapper">
        <!-- row -->
        <div class="row mt">
          <div class="col-md-12">
            <div class="content-panel">
              <table class="table">
                <h4><i class="fa fa-angle-right"></i> Liste des clients</h4>
                <hr>
                <thead>
                  <tr>
                    <th>TVA Intracommunautaire</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                {% for c in clients %}
                  <tr>
                    <td>{{c.tvaIntra}}</td>
                    <td>{{c.nom}}</td>
                    <td>{{c.adresse}} {{c.codePostal}} {{c.ville}}</td>
                    <td>
                      <a href="index.php?page=ajoutClient&idClientUpdate={{c.IdClient}}"><button class="btn btn-primary btn-s"><i class="fa fa-pencil"></i></button></a>
                      <a href="index.php?page=listeClient&idClientDelete={{c.IdClient}}"><button class="btn btn-danger btn-s"><i class="fa fa-trash-o "></i></button></a>
                      <a href="index.php?page=listeIntervention&idClient={{c.IdClient}}"><button class="btn btn-success btn-s"><i class="fa fa-arrow-right"></i></button></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->
        </div>
        <!-- /row -->
        <br></br>
      </section>
    </section>
{% endblock %}
