{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Inscription{% endblock %}

{% block body %}
{% if form.valide is defined %}
    {% if form.valide == true %}
        <h1 class="h3 mb-3 font-weight-normal">Vous êtes inscrit !</h1>
        <h1 class="h3 mb-3 font-weight-normal">Bienvenue  {{form.prenom}} {{ form.nom }}</h1>
        <h1 class="h3 mb-3 font-weight-normal">Vous utiliserez "{{ form.email }}" pour vous connecter</h1>

        {% if form.role == 1 %}
            <h1 class="h3 mb-3 font-weight-normal">Vous êtes administrateur du site</h1>
        {% else %}
            <h1 class="h3 mb-3 font-weight-normal">Vous êtes un Etudiant sur ce site </h1>
        {% endif %}
        {% else %}
                <h1 class="h3 mb-3 font-weight-normal">Echec de l'inscription</h1>
            <h1 class="h3 mb-3 font-weight-normal">Attention {{form.message}}</h1>
                <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=inscription">Retourner sur la page d'inscription</a></h1>
    {% endif %}
    {% else %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <h1 class="text-center text-secondary p-4">Inscription</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 bg-primary p-4 m-0 text-white">

        <form name="inscription" method="post">
          <div class="form-group">
            <label class="font-weightbold required" for="nom">Votre nom :</label>
            <input type="text" id="nom" name="nom" required="required" class="form-control"/>
          </div>
          <br></br>

          <div class="form-group">
            <label class="font-weightbold required" for="prenom">Votre prénom :</label>
            <input type="text" id="prenom" name="prenom" required="required" class="form-control"/>
          </div>
          <br></br>

          <div class="form-group">
            <label class="font-weightbold required" for="email">Votre email :</label>
            <input type="email" id="mail" name="email" required="required" class="form-control"/>
          </div>
          <br></br>
          <div class="form-group">
            <label class="font-weight-bold required" for="password">Votre mot de passe :</label>
            <input type="password" id="password" name="password" required="required" class="form-control"/>
          </div>
          <br></br>
          <div class="form-group">
            <label class="font-weight-bold required" for="confirmation">Confirmez votre mot de passe :</label>
            <input type="password" id="confirmation" name="confirmation" required="required" class="form-control"/>
          </div>
          <br></br>
          {% if session.role == 2 %}
          <div class="form-group">
            Chef de projet
            <label class="font-weight-bold required" for="role_oui">oui</label>
            <input type="radio" id="role_oui" name="role" value='1'/>
            <label class="font-weight-bold required" for="role_non">non</label>
            <input type="radio" id="role_non" name="role"  value='0' checked/>
          </div>
          <br></br>
          {% endif %}
          <div class="form-group mx-auto text-center">
            <button type="submit" id="btInscrire" name="btInscrire" class="btn font-weightbold bg-success text-white mx-auto text-center">S&#039;inscire</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  {% endblock %}
