{% extends 'base.html.twig' %}

{% block title %}Hello MesChampsController!{% endblock %}

{% block content %}
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <!-- row -->
        <div class="row mt">
          <div class="col-md-12">
            <div class="content-panel">
              <table class="table">
                <h4><i class="fa fa-angle-right"></i> Liste des champs</h4>
                <hr>
                <thead>
                  <tr>
                    <th>Ilots</th>
                    <th>Nom</th>
                    <th>Surface</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                {% for p in listeParcelle %}
                  <tr>
                    <td>{{p.idIlot}}</td>
                    <td>{{p.libelle}}</td>
                    <td>{{p.surface}} ha</td>
                    <td>
                       <a href="index.php?page=intervention&idParcelle={{p.idParcelle}}"><button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button></a>
                      <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                       <a href="index.php?page=listeChamps&idChamp={{p.idParcelle}}&idIlot={{p.IdOfIlot}}"><button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->
        </div>
        <!-- /row -->
        <br></br>
        <div class="form-group ">
					<div class="form-send">
				  	<div class="col-sm-3">
           
							<a href="index.php?page=ajoutChamp"><button class="btn btn-compose" type="submit" name="btAjouter">Ajouter un champ</button> </a>
             
						</div>
					</div>
				</div>
      </section>
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
{% endblock %}
