{% extends "base.html.twig" %}
{% block contenu %}
    {% if form.modif == true %}
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal"> La question a bien été modifiée </h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=listeQuestion">Retourner sur la liste des questions</a></h1>
        {% else %}
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=listeQuestion">Retourner sur la liste des questions</a></h1>
        {% endif %}

        {% else %}



    <form method="POST" class=" col-md-12" action="#">
        <h1 class="h3 mb-3 font-weight-normal">Modifier une question</h1>
        <label for="intitule" class="sr-only ">Intitulé</label>
        <input type="text" name="intitule" id="intitule" class="form-control" placeholder="Intitulé" value="{{ question.intitule }}" required> <!-- on ne peut malheureusement pas mettre de value dans un textarea, ce pourquoi c'est un input -->
        <label for="reponse" class="sr-only">Réponse</label>
        <input type="text" name="reponse" id="reponse" class="form-control" placeholder="Réponse" value ="{{ question.reponse }}" required>
        <select class="form-control" id="idTest" name="idTest">
            {% for t in liste %}
                <option value="{{ t.id }}"> <!--selected--> {{ t.nom }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-sm btn-primary btn-block" type="submit" name="btModifQuestion">Modifier</button>
    </form>
    {% endif %}

{% endblock %}