{% extends "base.html.twig" %}
{% block style %} <link href="css/profil2.css" rel="stylesheet">{% endblock %}
{% block contenu %}
    {% if form.modif == true %}
    {% if form.valide == true %}
        <h1 class="h3 mb-3 font-weight-normal"> Le profil a bien été modifié </h1>
        <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=profil">Retourner sur votre profil</a></h1>
    {% else %}
        <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
        <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=profil">Retourner sur votre profil</a></h1>
    {% endif %}

    {% else %}
    <div class="container emp-profile">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        {% if u.photo is not empty %}
                            <img src="images/{{u.photo}}" alt= "image du produit " />
                        {% else %}
                            <img src="images/banderole.jpg" alt=""/>
                            {% endif %}

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            {{ u.nom }} {{ u.prenom }}
                        </h5>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profil</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <form class="" action="#" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nom</label>
                                </div>
                                <div class="col-md-6">
                                    <p><input type="text" id="nom" name="nom" class="form-control" placeholder="Nom" value="{{ u.nom }}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Prenom</label>
                                </div>
                                <div class="col-md-6">
                                    <p><input type="text" id="prenom" name="prenom" class="form-control" placeholder="Prenom" value="{{ u.prenom }}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p><input type="email" id="email" name="email" class="form-control" placeholder="Email" value="{{ u.email }}"></p>
                                    <p><input type="text" id="nbUnique" name="nbUnique" class="form-control" value="{{ u.nbUnique }}" hidden></p>
                                </div>
                            </div>
                        </div>
                    </div>
                        <button class="btn btn-sm btn-success" type="submit" name="btModifProfil" id="btModifProfil">Modifier le Profil</button>
                    </form>
                </div>
            </div>
    </div>
{% endif %}
{% endblock %}