    {% extends "base.html.twig" %}
    {% block style %} <link href="css/profil.css" rel="stylesheet"> {% endblock %}
    {% block contenu %}
        {% if form.valide1 and form.valide2 is defined %}
            {% if form.valide1 and form.valide2 == true %}
                <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1>
                <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=listeUtilisateur">Retourner sur la liste des utilisateurs</a></h1>

            {% else %}
                <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
                <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=listeUtilisateur">Retourner sur la liste des utilisateurs</a></h1>

            {% endif %}
        {% else %}
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="row">
                        {% for u in listeRecherche %}
                            <div class="col-md-4">
                                <div class="card profile-card-2">
                                    <div class="card-img-block">
                                        {% if u.photo is not empty %}
                                            <img class="img-fluid" src="images/{{u.photo}}" alt= "image du produit " />
                                        {% else %}
                                            <img class="img-fluid" src="images/banderole.jpg" alt="Card image cap" />
                                        {% endif %}

                                        <img class="img-fluid" src="images/banderole.jpg" alt="Card image cap" />
                                    </div>
                                    <div class="card-body pt-5">
                                        <h5 class="card-title">{{u.nom}} {{ u.prenom }}</h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    {% set nb = form.nbpages %}

                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="index.php?page=listeUtilisateur&nopage={{ 0 }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% for i in 1..nb %}
                                <li><a href="index.php?page=listeUtilisateur&nopage={{ i-1 }}">{{ i }}</a></li>
                            {% endfor %}
                            <li>
                                <a href="index.php?page=listeUtilisateur&nopage={{ nb-1 }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        {% endif %}

{% endblock %}