{% extends 'base.html.twig' %}

{% block title %}Traitement
{% endblock %}

{% block content %}

	{% if form.valide is defined %}
		{% if form.valide == false %}
			<br></br>
		<div class="row content-panel">
			<div class="alert alert-danger h3 mb-3 font-weight-normal" role="alert">
				<h2 class="centered">{{ form.message }}</h2>
			</div>
		</div>
	{% else %}

		<div class="alert alert-success h3 mb-3 font-weight-normal" role="alert">
			{{ form.message }}
		</div>

	{% endif %}
{% endif %}

	<section id="main-content">
		<section class="wrapper">
			<div class="row mt">
				<div class="col-lg-12">
					<h4>
						<i class="fa fa-angle-right"></i>
						Ajouter un traitement</h4>
					<div class="form-panel">
						<div class=" form">
							<form class="cmxform form-horizontal style-form" method="post">
								<div class="form-group ">
									<label for="cname" class="control-label col-lg-2">Variété</label>
									<div class="col-lg-10">
										<input class=" form-control" id="cname" name="name" minlength="2" type="text" required/>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-lg-2">Date de l'Intervention :</label>
									<div class="col-lg-10">
										<input class="form-control form-control-inline input-medium default-date-picker" type="date" name="date_intervention" size="16" type="text" value="" required>
									</div>
								</div>
								<div class="form-group ">
									<label for="quantite" class="control-label col-lg-2">Quantité ( en kg/ha ) :</label>
									<div class="col-lg-10">
										<input class="form-control " name="quantite" id="quantite" type="number" step='0.01' />
									</div>
								</div>
								<div class="form-group ">
									<label for="curl" class="control-label col-lg-2">Cout ( Optionnel ) :</label>
									<div class="col-lg-10">
										<input class="form-control " name="cout" id="curl" type="number" step='0.01'/>
									</div>
								</div>
								<table class="table">
									<h4>
										<i class="fa fa-angle-right"></i>
										Selectionnez les champs sur lesquelles vous etes intervenus</h4>
									<hr>
									<thead>
										<tr>
											<th></th>
											<th>Ilots</th>
											<th>Nom</th>
											<th>Surface</th>
										</tr>
									</thead>
									<tbody>
										{% for p in parcelles %}
											<tr>
												<td><input type="checkbox" name="checkboxParcelle[]" value="{{p.id}}"></td>
												<td>{{p.idIlot}}</td>
												<td>{{p.libelle}}</td>
												<td>{{p.surface}}</td>

											</tr>
										{% endfor %}
									</tbody>
								</table>
								<hr>
								<div class="form-group ">
									<div class="form-send">
										<div class="col-sm-3">
											<button class="btn btn-compose" type="submit" name="btValider">Valider</button>

										</div>
									</div>
								</div>

							</form>
						</div>
					</div>
					<!-- /form-panel -->
				</div>
				<!-- /col-lg-12 -->
			</div>
		</section>
	</section>
{% endblock %}
